---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/lgs/elasticrepo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '60'
      x-ratelimit-remaining:
      - '58'
      last-modified:
      - Mon, 13 May 2013 11:59:07 GMT
      etag:
      - '"d01a1f4ea261b001a3757e851eda8687"'
      x-github-media-type:
      - github.beta
    body:
      encoding: UTF-8
      string: '{"id":9416045,"name":"elasticrepo","full_name":"lgs/elasticrepo","owner":{"login":"lgs","id":1573,"avatar_url":"https://secure.gravatar.com/avatar/9c7d80ebc20ab8994e51b9f7518909ae?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","gravatar_id":"9c7d80ebc20ab8994e51b9f7518909ae","url":"https://api.github.com/users/lgs","html_url":"https://github.com/lgs","followers_url":"https://api.github.com/users/lgs/followers","following_url":"https://api.github.com/users/lgs/following{/other_user}","gists_url":"https://api.github.com/users/lgs/gists{/gist_id}","starred_url":"https://api.github.com/users/lgs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lgs/subscriptions","organizations_url":"https://api.github.com/users/lgs/orgs","repos_url":"https://api.github.com/users/lgs/repos","events_url":"https://api.github.com/users/lgs/events{/privacy}","received_events_url":"https://api.github.com/users/lgs/received_events","type":"User"},"private":false,"html_url":"https://github.com/lgs/elasticrepo","description":"Indexing
        GitHub repository with ElasticSearch","fork":false,"url":"https://api.github.com/repos/lgs/elasticrepo","forks_url":"https://api.github.com/repos/lgs/elasticrepo/forks","keys_url":"https://api.github.com/repos/lgs/elasticrepo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/lgs/elasticrepo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/lgs/elasticrepo/teams","hooks_url":"https://api.github.com/repos/lgs/elasticrepo/hooks","issue_events_url":"https://api.github.com/repos/lgs/elasticrepo/issues/events{/number}","events_url":"https://api.github.com/repos/lgs/elasticrepo/events","assignees_url":"https://api.github.com/repos/lgs/elasticrepo/assignees{/user}","branches_url":"https://api.github.com/repos/lgs/elasticrepo/branches{/branch}","tags_url":"https://api.github.com/repos/lgs/elasticrepo/tags","blobs_url":"https://api.github.com/repos/lgs/elasticrepo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/lgs/elasticrepo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/lgs/elasticrepo/git/refs{/sha}","trees_url":"https://api.github.com/repos/lgs/elasticrepo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/lgs/elasticrepo/statuses/{sha}","languages_url":"https://api.github.com/repos/lgs/elasticrepo/languages","stargazers_url":"https://api.github.com/repos/lgs/elasticrepo/stargazers","contributors_url":"https://api.github.com/repos/lgs/elasticrepo/contributors","subscribers_url":"https://api.github.com/repos/lgs/elasticrepo/subscribers","subscription_url":"https://api.github.com/repos/lgs/elasticrepo/subscription","commits_url":"https://api.github.com/repos/lgs/elasticrepo/commits{/sha}","git_commits_url":"https://api.github.com/repos/lgs/elasticrepo/git/commits{/sha}","comments_url":"https://api.github.com/repos/lgs/elasticrepo/comments{/number}","issue_comment_url":"https://api.github.com/repos/lgs/elasticrepo/issues/comments/{number}","contents_url":"https://api.github.com/repos/lgs/elasticrepo/contents/{+path}","compare_url":"https://api.github.com/repos/lgs/elasticrepo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/lgs/elasticrepo/merges","archive_url":"https://api.github.com/repos/lgs/elasticrepo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/lgs/elasticrepo/downloads","issues_url":"https://api.github.com/repos/lgs/elasticrepo/issues{/number}","pulls_url":"https://api.github.com/repos/lgs/elasticrepo/pulls{/number}","milestones_url":"https://api.github.com/repos/lgs/elasticrepo/milestones{/number}","notifications_url":"https://api.github.com/repos/lgs/elasticrepo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/lgs/elasticrepo/labels{/name}","created_at":"2013-04-13T15:57:03Z","updated_at":"2013-05-13T11:59:07Z","pushed_at":"2013-05-13T11:59:06Z","git_url":"git://github.com/lgs/elasticrepo.git","ssh_url":"git@github.com:lgs/elasticrepo.git","clone_url":"https://github.com/lgs/elasticrepo.git","svn_url":"https://github.com/lgs/elasticrepo","homepage":null,"size":552,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"master_branch":"master","default_branch":"master","network_count":0}'
  recorded_at: Sun, 02 Jun 2013 09:28:11 GMT
recorded_with: VCR 2.5.0
